doctype html
html
	head
		meta(charset="UTF-16")
		// Put your css file in resources/site.css then uncomment the line below
		// link(rel="stylesheet" type="text/css" href="/resources/site.css")
		// Put your favicon file in /resources/favicon.ico
		link(rel="icon" type="image/x-icon" href="/resources/favicon.ico")
		title 
			=title
	body
		!= header
				h1 
					=title
			!=content
		!= footer